body {
    background-color: rgb(16, 27, 63);
    color: rgb(25, 155, 155);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    font-size: 60px;
    border-bottom: double 5px rgb(167, 106, 196);
    padding: 6px;
    text-align: center;
}

h1 {
    font-size: 30px;
    border-bottom: double 5px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

iframe, video {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
}