body {
    background-color: rgb(0, 0, 0);
    color: rgb(59, 181, 190);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    font-size: 60px;
    border-bottom: double 5px rgb(20, 211, 224);
    padding: 6px;
    text-align: center;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}